body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: black;
    margin-bottom: 20px;
}
.grid {
    display:grid;
}

.square {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.messager {
    background-color: royalblue;
    color: white;
}

#start {
    margin-top: 100px;
    margin-bottom: 20px;
}

.score {
    background-color: black;
    color: red;
    border: 4px solid lightcoral;
}