body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: black;
    
}
.grid {
    display:grid;
}

.square {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.messager {
    background-color: royalblue;
    color: white;
}